.cart {
    margin-top: 80px;
}

.cart-items-title {
    margin-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item {
    margin: 10px 0px;
    color: black;
}

.cart-items-title img {
    width: 50px;
}

.cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}

.cross {
    cursor: pointer;
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-total h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #535;
}

.cart-total button {
    border: none;
    color: white;
    /* background-color: tomato; */
    width: max(15vw, 200px);
    margin-top: 15px;
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-buttons {
    display: flex;
    justify-content: space-between; /* Space elements to opposite sides */
    align-items: center; /* Center items vertically */
}
.cart-buttons button:first-of-type {
    background-color: tomato; /* Green for PLACE ORDER */
    color: white;
}

.continue-button {
    background-color: #007bff; /* Blue for CONTINUE BROWSING */
    color: white;
}

@media (max-width:750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }

    .cart-buttons {
        flex-direction: column; /* Stack buttons vertically */
        align-items: flex-start; /* Align buttons to the start */
    }

    .cart-buttons button {
        width: 100%; /* Make buttons full width */
        margin-top: 10px; /* Add space between buttons */
    }
}