.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-weight: 800;
    color: #f69b2c;
    align-items: left;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: black;
    font-size: 18px;
}

.navbar-menu a,
.navbar-menu .active {
    color: inherit;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: black;
    border: 1px solid #f69b2c;
    padding: 10px 30px;
    border-radius:  50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fbd19e;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -10px;
    right: -8px;
}

.navbar-profile {
    position: relative;
}

.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown li:hover {
    color: tomato;
} 

@media (max-width:1050px) {
    .navbar {
        width: 140px;
    }
    .navbar-menu {
        gap: 20px;
        font-size: 17px;
        padding-left: 60px;
    }
    .navbar-right {
        gap: 30px;
        padding-left: 60px;
    }
    .navbar-right button {
        padding: 10px 35px;
        white-space: nowrap;
    }
}

@media (max-width:900px) {
    .navbar {
        width: 120px;
    }
    .navbar-menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20px;
        padding-left: 50px;
    }
    .navbar-right button {
        padding: 8px 20px;
    }
}

@media (max-width:750px) {
    .navbar-menu {
        display: none;
    }
    .logo {
        font-size: 2rem;
    }
}